<div id="contact"class="row">
  <div class="col s12 m12">
    <h3 class="center align">Comunicate con nosotros!</h3>
 
      <address class="center align">
        Llamanos al: <a href="tel:+18090000000">(809)-000-0000</a><br>
        </address>
        <div class="row">
          <div class="col s12 m12">
            <div class="card yellow lighten-2">
              <div class="card-content black-text">
                <span class="card-title">Escribenos!</span>
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="name" type="text" class="validate">
                        <label for="name">Nombre</label>
                      </div>
                      <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate">
                        <label for="email">Correo Electronico:</label>
                      </div>
                    </div>
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="message" class="materialize-textarea"></textarea>
                            <label for="message">Mensaje</label>
                          </div>
                        </div>
                      </form>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-action">
                <i class="material-icons prefix">send</i>  
                <a href="#">Enviar</a>
              </div>
            </div>
          </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.5141680075767!2d-69.95012348462099!3d18.46035507582996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea56206bca253a7%3A0x6f98de34164d3fb4!2sLos%20Millones%2C%20Santo%20Domingo!5e0!3m2!1sen!2sdo!4v1585846428980!5m2!1sen!2sdo" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  
  </div>
</div>