<app-main-navbar></app-main-navbar>
<app-main-banner></app-main-banner>
<div class="container">
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, alias porro vitae quisquam provident odio
    quos a quae, illo repudiandae laborum? Sit doloremque facere fugiat, cumque quisquam molestias consequatur nobis.
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- About -->
<div class="container">
  <div class="row">
    <app-about></app-about>
  </div>
</div>
<!-- Services -->
<div class="container">
  <div class="row">
    <app-services></app-services>
  </div>
</div>
<!-- Contact Us -->
<div class="container">
  <div class="row">
    <app-contact></app-contact>
  </div>
</div>

<footer class="page-footer indigo">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
