<div class="row">
  <div class="col s4 m4">
    <h4>Service 1</h4>
    <img src="https://via.placeholder.com/400x120.png" />
    <p class="center-align light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique accusantium eveniet
      accusamus corrupti quidem, cum quasi iusto recusandae nostrum nihil consequatur quod, voluptates dignissimos? Id
      numquam sequi rerum rem possimus!</p>

  </div>
  <div class="col s4 m4">
    <h4>Service 2</h4>
    <img src="https://via.placeholder.com/400x120.png" />
    <p class="center-align light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique accusantium eveniet
      accusamus corrupti quidem, cum quasi iusto recusandae nostrum nihil consequatur quod, voluptates dignissimos? Id
      numquam sequi rerum rem possimus!</p>
  </div>

  <div class="col s4 m4">
    <h4>Service 2</h4>
    <img src="https://via.placeholder.com/400x120.png" />
    <p class="center-align light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique accusantium eveniet
      accusamus corrupti quidem, cum quasi iusto recusandae nostrum nihil consequatur quod, voluptates dignissimos? Id
      numquam sequi rerum rem possimus!</p>
  </div>

</div>
